{% extends "./base.njk" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center py-5">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFKjWpvwSPIexzCbwSGvxnGv3QzpcefwlpJskcIrxyYonXBg/viewform?embedded=true" width="700" height="1000" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
            </div>
        </div>
    </div>
{% endblock %}